<sl-card>
    <div class="px-4 py-4">
        <sl-tooltip content="View this page on mobile!">
            <sl-qr-code value="#" label="View this on mobile!"></sl-qr-code>
        </sl-tooltip>
        <h1 class="mt-8 text-xl text-gray-900 font-medium leading-10">
            Hello there! I'm Josh. It's nice to meet you! 👋
        </h1>
        <p class="text-gray-700 text-md mt-2 w-[80%]">

            I'm a developer with a strong focus on web development—building responsive, modern websites and
            applications is my bread and butter. But I don’t stop there. I dabble in AI, exploring how to integrate
            it into projects and push the boundaries of what’s possible. I’ve also got a thing for programming
            language design, experimenting with how languages work under the hood and tweaking them to solve
            specific problems.

            On the creative side, I enjoy game development—designing gameplay, mechanics, and systems that feel
            engaging. I like diving into low-level programming, too, working closer to the hardware to write
            efficient, optimized code. Overall, I’m all about exploring different areas of software development,
            solving problems, and constantly improving.
        </p>
        <div class="mt-6">
            <h1 class="text-lg text-gray-900 font-medium leading-10">
                <i class="fa-solid fa-envelope pr-1"></i>
                Get in Touch:
            </h1>
            <a href="mailto:koficenti@gmail.com" class="text-blue-500">koficenti@gmail.com</a>
        </div>
    </div>
</sl-card>
