<div x-data="{ open: $persist(true) }">
    <div x-show="!open" x-transition class="max-w-fit bg-white h-screen shadow-md py-12 flex flex-col justify-between">
        <sl-tooltip content="Open">
            <i class="fa-solid fa-chevron-right cursor-pointer px-3 pb-8" @click="open = true"></i> 
        </sl-tooltip>
        <ul class="text-center flex flex-col justify-center items-center gap-3">
            <li class="flex gap-2 items-center">
                <i class="fa-brands fa-github text-black w-4"></i>
            </li>
            <li class="flex gap-2 items-center">
                <i class="fa-brands fa-linkedin text-black w-4"></i>
            </li>
            <li class="flex gap-2 items-center">
                <i class="fa-brands fa-twitter text-black w-4"></i>
            </li>
        </ul>
    </div>
    <div class="w-[100%] absolute z-10 lg:static lg:w-[350px] bg-white shadow-md h-screen py-12" x-show="open" x-transition>
        <div class="px-10 py-2">
            <div class="flex items-center justify-between pb-8">
                <h1 class="text-lg font-medium text-gray-900">Portfolio</h1>
                <sl-tooltip content="Close">
                    <i class="fa-solid fa-chevron-left text-gray-900 text-lg cursor-pointer" @click="open = false"></i>
                </sl-tooltip>
            </div>
            <div class="w-full h-48 bg-gray-200 rounded-md mx-auto mb-6 shadow-md relative">
                <div class="group absolute w-full h-full z-10 backdrop-blur-lg rounded-md hover:backdrop-blur-0 transition-all duration-200">
                    <div class="text-white group-hover:scale-0 text-center h-full w-full flex items-center justify-center"><p class="text-5xl font-medium opacity-30">👌</p></div>
                </div>
                <img src="{{ url_for('static', filename='Profile.jpg') }}" alt="" class="w-full h-full object-cover rounded-md" style="object-position: 15% 30%;">
            </div>
            <h3 class="text-xs font-medium text-gray-700">Full Stack Developer</h3>
            <h1 class="font-medium text-gray-900 mb-1">Joshua Hunter</h1>
            <p class="text-sm text-gray-600">
                Developer with a passion for creating and building web applications.
            </p>
            <div class="py-6">
                <div class="w-full h-[2px] bg-gray-200 rounded-full"></div>
            </div>
            <h2 class="font-medium text-gray-900 mb-3">
                Links
            </h2>
            <ul class="text-sm space-y-2 max-w-fit font-medium text-gray-900">
                <li class="flex gap-2 items-center">
                    <i class="fa-brands fa-github text-black w-4"></i>
                    <a href="https://github.com/koficenti">@koficenti</a>
                </li>
                <li class="flex gap-2 items-center">
                    <i class="fa-brands fa-github text-black w-4"></i>
                    <a href="https://github.com/nedankinde">@nedankinde</a>
                </li>
                <li class="flex gap-2 items-center">
                    <i class="fa-brands fa-linkedin text-black w-4"></i>
                    <a href="https://linkedin.com/in/koficenti">LinkedIn</a>
                </li>
                <li class="flex gap-2 items-center">
                    <i class="fa-brands fa-twitter text-black w-4"></i>
                    <a href="https://twitter.com/koficenti">Twitter</a>
                </li>
            </ul>
            <div class="py-6">
                <div class="w-full h-[2px] bg-gray-200 rounded-full"></div>
            </div>
            <a href="/projects" class="font-medium text-gray-900 leading-10">Projects</a>
            <ul class="text-sm space-y-2 max-w-fit font-medium text-gray-900">
                {% for project_uri, project in projects.items() %}
                    <li class="flex gap-2 items-center font-normal">
                        {% if active_project and project.name == active_project.name %}
                        <i class="fa-solid fa-circle text-[10px]"></i>
                        {% else %}
                        <i class="fa-regular fa-circle text-[10px]"></i>
                        {% endif %}
                        <a href="{{ '/projects/' + project_uri }}" @click="open = isMobile() ? false : open" class="font-medium text-gray-600 hover:text-gray-900">{{ project.name }}</a>
                    </li>
                {% endfor %}
                <script>
                    function isMobile() {
                        return window.innerWidth <= 768; // Typical breakpoint for mobile devices
                    } 
                </script>
            </ul>
            <div class="py-6">
                <div class="w-full h-[2px] bg-gray-200 rounded-full"></div>
            </div>
            <h2 class="text-sm font-medium text-blue-500 mb-3 flex items-center">
                <i class="fa-solid fa-file pr-2"></i>
                <a href="{{url_for('static', filename='JoshuaHunter.pdf')}}">Resume (PDF)</a>
            </h2>
        </div>
    </div>
</div>