<div class="px-4 md:px-12 py-12 overflow-y-auto w-full">
    <div class="mb-4">
        <sl-breadcrumb>
            {% for crumb in breadcrumbs %}
              <sl-breadcrumb-item>
                {% if loop.last %}
                  {% if active_project %}
                    {{ active_project.name }}
                  {% else %}
                    {{ crumb.name }}
                  {% endif %}
                {% else %}
                  <a href="{{ crumb.url }}">
                    {{ crumb.name }}
                  </a>
                {% endif %}
              </sl-breadcrumb-item>
            {% endfor %}
          </sl-breadcrumb>
          
    </div>

    {{ data | safe }}
</div>
